 body{
    margin: 0;
    padding: 0;
 }
 
 nav{
   
    height: 60px;
    box-shadow: 0.5px 0.5px rgba(1,1,1, 0.5);
    height: 3.5rem;
     
  
     
}

.nav-dark{
    background-color: rgb(36, 33, 33);
    color: white;
    border-bottom-style:solid ;
    border-bottom-width:0.2px ;
    border-bottom-color: rgba(255, 255, 255, 0.2);
 }


 .header-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    
    
}

.header-container h3{
    font-size: 20px;
    align-self: center;
    margin-top: 19px;
    font-weight: 900;
    

}

 




 .icon-container{
    display: flex;
    
 }


.calc-icon{
   height: 40px;
   margin-top: 8px;


}




.toggle-slider{
    background-color: rgb(171, 171, 173);
    width: 50px;
    height: 25px;
    border-radius:20px;
    position: relative;
}

.nav-dark .toggle-slider{
   background-color:rgb(55, 65, 174);
}

.nav-dark .toggle-circle{
    background-color: rgb(249, 249, 249);
  transform: translateX(100%);
}

.toggle-circle{
  background-color: rgb(249, 249, 249);
  height: 25px;
  width: 25px;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 0;
}



main{
    display: flex;
    justify-content: center;
}

.main-dark {
    background-color: rgb(36, 33, 33);
    padding-bottom: 182px;
    
    
}

.calc-container{
    
    display: grid;
    grid-template-rows: 70px 330px;
 
 }

 .main-dark .cview{
    background-color: rgb(57, 57, 57);


 }

 .main-dark .button-name{
    background-color: rgb(45, 44, 44);
}

.cview
{
    width: 270px;
    height: 60px;
    background-color: rgb(221, 218, 218);
    margin: 0;
    

}



.result{
    width: 270px;
    font-weight: 100;
    font-size: 50px;
    text-align: right;
    overflow:hidden;



}

.main-dark{
    color: rgb(188, 186, 183);
}



.buttons{
    
    display: grid;
    margin-top: 40px;
    grid-template-columns: repeat(4, 67.5px);
    height: 320px;
}

.last-row{
    display: grid;
    grid-template-columns: 135px 67.5px 67.5px;
}




.button-container{
    margin: 1px;
    
    
   
   
}

.main-dark .button-name{
    color: rgb(188, 186, 183);

}

.button-name{
    font-size: 20px;
    font-weight: absolute;
    position: relative;
    width: 100%;
    height: 100%;
    border-style: none;
   
}

.cview:hover .button-tooltip{
    visibility: visible;
}

.button-container:hover .button-tooltip{
    visibility: visible;
}

.button-tooltip{
    font-size: 10px;
    font-weight: bolder;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    color: rgb(0, 0, 0);
    background-color: rgb(223, 223, 223);
    width: 25px;
    height: 25px;
    margin: 0px;
    z-index: 100;
    left: 10px;
    bottom: 10px;
    visibility: hidden;
    
}